<!DOCTYPE html>
html(lang="en")
    head
        include ../components/seo
        title= (seo.title || '-') + ' | Social Trends'
        - var cssItems = assets['css'] || []
        - var jsItems = assets['js'] || []
        each css in cssItems
            link(rel="stylesheet", href=css)
        each js in jsItems
            script(src=js)
    body
        if components.logo
            <div class="br-logo"><a href=""><span>[</span>Social <i>Trends</i><span>]</span></a></div>
        if components.leftpanel
            include ../components/leftpanel
        if components.header
            include ../components/header
        if (components.chats)
            include ../components/chats
