extends ../layout-admin

block content
    .br-mainpanel(style="position: relative; margin-left: 0px; padding: 10px;")
        include ../components/landingpage/component1
        include ../components/landingpage/component2
        include ../components/landingpage/component3
        include ../components/landingpage/component4