<div class="col-sm-6 col-lg-3">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Top Youtube</h6>
            <a href=""><i class="icon ion-android-more-horizontal"></i></a>
        </div><!-- card-header -->
        <div class="card-body">
            <span id="spark1"><canvas style="display: inline-block; width: 89px; height: 30px; vertical-align: top;" width="89" height="30"></canvas></span>
            <span>1,850 Posts</span>
        </div><!-- card-body -->
        <div class="card-footer">
            <div>
                <span class="tx-11">Posts</span>
                <h6 class="tx-inverse">2,210</h6>
            </div>
            <div>
                <span class="tx-11">Likes</span>
                <h6 class="tx-inverse">68</h6>
            </div>
            <div>
                <span class="tx-11">Shares</span>
                <h6 class="tx-danger">320</h6>
            </div>
        </div><!-- card-footer -->
    </div><!-- card -->
</div>