<div class="col-sm-6 col-lg-3 mg-t-1 mg-lg-t-0">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Top Twitter</h6>
            <a href=""><i class="icon ion-android-more-horizontal"></i></a>
        </div><!-- card-header -->
        <div class="card-body">
            <span id="spark3"><canvas style="display: inline-block; width: 89px; height: 30px; vertical-align: top;" width="89" height="30"></canvas></span>
            <span>12,324</span>
        </div><!-- card-body -->
        <div class="card-footer">
            <div>
                <span class="tx-11">Viewer</span>
                <h6 class="tx-inverse">18,433</h6>
            </div>
            <div>
                <span class="tx-11">Likes</span>
                <h6 class="tx-inverse">654</h6>
            </div>
            <div>
                <span class="tx-11">Comments</span>
                <h6 class="tx-danger">3,314</h6>
            </div>
        </div><!-- card-footer -->
    </div><!-- card -->
</div>