<div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Top Instagram</h6>
            <a href=""><i class="icon ion-android-more-horizontal"></i></a>
        </div><!-- card-header -->
        <div class="card-body">
            <span id="spark2"><canvas style="display: inline-block; width: 89px; height: 30px; vertical-align: top;" width="89" height="30"></canvas></span>
            <span class="tx-medium tx-inverse tx-32">3,324</span>
        </div><!-- card-body -->
        <div class="card-footer">
            <div>
                <span class="tx-11">Posts</span>
                <h6 class="tx-inverse">5,471</h6>
            </div>
            <div>
                <span class="tx-11">Likes</span>
                <h6 class="tx-inverse">211</h6>
            </div>
            <div>
                <span class="tx-11">Repost</span>
                <h6 class="tx-danger">1,988</h6>
            </div>
        </div><!-- card-footer -->
    </div><!-- card -->
</div>