<div class="row row-sm mg-t-20">
    <div class="col-lg-8">
        <div class="card bd-gray-400">
            <div class="d-md-flex justify-content-between pd-25">
                <div>
                    <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Instagram Trends</h6>
                    <p>From : Jul 12, 2019 - Jun 01, 2019</p>
                </div>
                <div class="d-sm-flex">
                    <div>
                        <p class="mg-b-5 tx-uppercase tx-10 tx-mont tx-semibold">Top Hashtag</p>
                        <h4 class="tx-lato tx-inverse tx-bold mg-b-0">#Storageoverview</h4>
                        <span class="tx-12 tx-success tx-roboto">From all</span>
                    </div>
                    <div class="bd-sm-l pd-sm-l-20 mg-sm-l-20 mg-t-20 mg-sm-t-0">
                        <p class="mg-b-5 tx-uppercase tx-10 tx-mont tx-semibold">Posts</p>
                        <h4 class="tx-lato tx-inverse tx-bold mg-b-0">38K</h4>
                        <span class="tx-12 tx-danger tx-roboto">4.65% decreased</span>
                    </div>
                    <div class="bd-sm-l pd-sm-l-20 mg-sm-l-20 mg-t-20 mg-sm-t-0">
                        <p class="mg-b-5 tx-uppercase tx-10 tx-mont tx-semibold">Post Likes</p>
                        <h4 class="tx-lato tx-inverse tx-bold mg-b-0">583K</h4>
                        <span class="tx-12 tx-success tx-roboto">1.22% increased</span>
                    </div>
                </div><!-- d-flex -->
            </div><!-- d-flex -->

            <div class="pd-l-25 pd-r-15 pd-b-25">
                <div id="ch5" class="ht-250 ht-sm-300" style="padding: 0px; position: relative;">
                    
                </div>
            </div>
        </div><!-- card -->
    </div><!-- col-8 -->
    <div class="col-lg-4 mg-t-20 mg-lg-t-0">
        <div class="card bd-gray-400 overflow-hidden">
            <div class="pd-x-25 pd-t-25">
                <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1 mg-b-20">Storage Overview</h6>
                <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-0">As of Today</p>
                <h1 class="tx-56 tx-light tx-inverse mg-b-0">755<span class="tx-teal tx-24">gb</span></h1>
                <p><span class="tx-primary">80%</span> of free space remaining</p>
            </div><!-- pd-x-25 -->
            <div class="bg-teal pd-x-25 pd-b-25 d-flex justify-content-between">
                <div class="tx-center">
                    <h3 class="tx-lato tx-white mg-b-5">989<span class="tx-light op-8 tx-20">gb</span></h3>
                    <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-0 tx-white-8">Total Space</p>
                </div>
                <div class="tx-center">
                    <h3 class="tx-lato tx-white mg-b-5">234<span class="tx-light op-8 tx-20">gb</span></h3>
                    <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-0 tx-white-8">Used Space</p>
                </div>
                <div class="tx-center">
                    <h3 class="tx-lato tx-white mg-b-5">80<span class="tx-light op-8 tx-20">%</span></h3>
                    <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase mg-b-0 tx-white-8">Free Space</p>
                </div>
            </div>
        </div><!-- card -->
    </div><!-- col-4 -->
</div>