<div class="row row-sm mg-t-20">
    <div class="col-sm-6 col-lg-4">
        <div class="card bd-gray-400">
            <div id="carousel1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class=""></li>
                    <li data-target="#carousel1" data-slide-to="1" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item">
                    <div class="bg-white ht-300 pos-relative overflow-hidden d-flex flex-column align-items-start rounded">
                        <div class="pos-absolute t-15 r-25">
                        <a href="" class="tx-gray-500 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                        </div>
                        <div class="pd-x-30 pd-t-30 mg-b-auto">
                        <p class="tx-info tx-uppercase tx-11 tx-semibold tx-mont mg-b-5">Product Item #1</p>
                        <h5 class="tx-inverse mg-b-20">Samsung Galaxy S8</h5>
                        <p class="tx-uppercase tx-11 tx-semibold tx-mont mg-b-0">Purchases</p>
                        <h2 class="tx-inverse tx-lato tx-bold mg-b-0">2366</h2>
                        <span>53.86 purchases/month</span>
                        </div>
                        <div id="ch8" class="ht-100 tr-y-1 rickshaw_graph"><svg width="400" height="100"><g><path d="M0,20Q28.888888888888886,1.7333333333333334,33.33333333333333,2C39.99999999999999,2.4,59.99999999999999,20.200000000000003,66.66666666666666,24S93.33333333333334,38.8,100,40S126.66666666666666,38,133.33333333333331,36S160,17.6,166.66666666666666,20S193.33333333333334,54,200,60S226.66666666666666,80,233.33333333333331,80S259.99999999999994,63,266.66666666666663,60S293.3333333333333,53,300,50S326.66666666666663,29,333.3333333333333,30S359.99999999999994,60,366.66666666666663,60Q371.1111111111111,60,400,30L400,100Q371.1111111111111,100,366.66666666666663,100C359.99999999999994,100,340,100,333.3333333333333,100S306.6666666666667,100,300,100S273.3333333333333,100,266.66666666666663,100S239.99999999999997,100,233.33333333333331,100S206.66666666666666,100,200,100S173.33333333333331,100,166.66666666666666,100S139.99999999999997,100,133.33333333333331,100S106.66666666666666,100,100,100S73.33333333333333,100,66.66666666666666,100S39.99999999999999,100,33.33333333333333,100Q28.888888888888886,100,0,100Z" class="area" fill="#0866C6"></path></g></svg></div>
                    </div><!-- d-flex -->
                    </div>
                    <div class="carousel-item active">
                    <div class="bg-white ht-300 pos-relative overflow-hidden d-flex flex-column align-items-start rounded">
                        <div class="pos-absolute t-15 r-25">
                        <a href="" class="tx-gray-500 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                        </div>
                        <div class="pd-x-30 pd-t-30 mg-b-auto">
                        <p class="tx-info tx-uppercase tx-11 tx-semibold tx-mont mg-b-5">Product Item #2</p>
                        <h5 class="tx-inverse mg-b-20">Apple iPhone 8 Plus</h5>
                        <p class="tx-uppercase tx-11 tx-semibold tx-mont mg-b-0">Purchases</p>
                        <h2 class="tx-inverse tx-lato tx-bold mg-b-0">5632</h2>
                        <span>120.44 purchases/month</span>
                        </div>
                        <div id="ch9" class="ht-100 tr-y-1 rickshaw_graph"><svg width="400" height="100"><g><path d="M0,30Q28.888888888888886,2.4,33.33333333333333,2C39.99999999999999,1.4000000000000001,59.99999999999999,20.200000000000003,66.66666666666666,24S93.33333333333334,38.8,100,40S126.66666666666666,38,133.33333333333331,36S160,17.6,166.66666666666666,20S193.33333333333334,54,200,60S226.66666666666666,80,233.33333333333331,80S259.99999999999994,63,266.66666666666663,60S293.3333333333333,53,300,50S326.66666666666663,29,333.3333333333333,30S359.99999999999994,61,366.66666666666663,60Q371.1111111111111,59.333333333333336,400,20L400,100Q371.1111111111111,100,366.66666666666663,100C359.99999999999994,100,340,100,333.3333333333333,100S306.6666666666667,100,300,100S273.3333333333333,100,266.66666666666663,100S239.99999999999997,100,233.33333333333331,100S206.66666666666666,100,200,100S173.33333333333331,100,166.66666666666666,100S139.99999999999997,100,133.33333333333331,100S106.66666666666666,100,100,100S73.33333333333333,100,66.66666666666666,100S39.99999999999999,100,33.33333333333333,100Q28.888888888888886,100,0,100Z" class="area" fill="#0866C6"></path></g></svg></div>
                    </div><!-- d-flex -->
                    </div><!-- cardousel-item -->
                </div><!-- carousel-inner -->
            </div><!-- carousel -->
        </div><!-- card -->
    </div><!-- col-4 -->
    <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
        <div class="card bd-gray-400">
            <div id="carousel3" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel3" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel3" data-slide-to="1" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                    <div class="bg-white ht-300 pos-relative overflow-hidden d-flex flex-column align-items-start rounded">
                        <div class="pos-absolute t-15 r-25">
                        <a href="" class="tx-gray-500 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                        </div>
                        <div class="pd-x-30 pd-t-30 mg-b-auto">
                        <p class="tx-info tx-uppercase tx-11 tx-semibold tx-mont mg-b-5">Product Item #1</p>
                        <h5 class="tx-inverse mg-b-20">Samsung Galaxy S8</h5>
                        <p class="tx-uppercase tx-11 tx-semibold tx-mont mg-b-0">Purchases</p>
                        <h2 class="tx-inverse tx-lato tx-bold mg-b-0">2366</h2>
                        <span>53.86 purchases/month</span>
                        </div>
                        <div id="ch10" class="ht-100 tr-y-1 rickshaw_graph"><svg width="400" height="100"><rect x="0" y="20" width="29.23076923076923" height="80" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="30.76923076923077" y="2" width="29.23076923076923" height="98" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="61.53846153846154" y="24" width="29.23076923076923" height="76" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="92.3076923076923" y="40" width="29.23076923076923" height="60" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="123.07692307692308" y="36" width="29.23076923076923" height="64" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="153.84615384615387" y="20" width="29.23076923076923" height="80" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="184.6153846153846" y="60" width="29.23076923076923" height="40" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="215.38461538461542" y="80" width="29.23076923076923" height="20" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="246.15384615384616" y="60" width="29.23076923076923" height="40" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="276.9230769230769" y="50" width="29.23076923076923" height="50" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="307.69230769230774" y="30" width="29.23076923076923" height="70" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="338.4615384615385" y="60" width="29.23076923076923" height="40" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="369.2307692307692" y="30" width="29.23076923076923" height="70" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect></svg></div>
                    </div><!-- d-flex -->
                    </div>
                    <div class="carousel-item">
                    <div class="bg-white ht-300 pos-relative overflow-hidden d-flex flex-column align-items-start rounded">
                        <div class="pos-absolute t-15 r-25">
                        <a href="" class="tx-gray-500 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                        </div>
                        <div class="pd-x-30 pd-t-30 mg-b-auto">
                        <p class="tx-info tx-uppercase tx-11 tx-semibold tx-mont mg-b-5">Product Item #2</p>
                        <h5 class="tx-inverse mg-b-20">Apple iPhone 8 Plus</h5>
                        <p class="tx-uppercase tx-11 tx-semibold tx-mont mg-b-0">Purchases</p>
                        <h2 class="tx-inverse tx-lato tx-bold mg-b-0">5632</h2>
                        <span>120.44 purchases/month</span>
                        </div>
                        <div id="ch11" class="ht-100 tr-y-1 rickshaw_graph"><svg width="400" height="100"><rect x="0" y="30" width="29.23076923076923" height="70" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="30.76923076923077" y="2" width="29.23076923076923" height="98" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="61.53846153846154" y="24" width="29.23076923076923" height="76" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="92.3076923076923" y="40" width="29.23076923076923" height="60" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="123.07692307692308" y="36" width="29.23076923076923" height="64" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="153.84615384615387" y="20" width="29.23076923076923" height="80" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="184.6153846153846" y="60" width="29.23076923076923" height="40" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="215.38461538461542" y="80" width="29.23076923076923" height="20" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="246.15384615384616" y="60" width="29.23076923076923" height="40" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="276.9230769230769" y="50" width="29.23076923076923" height="50" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="307.69230769230774" y="30" width="29.23076923076923" height="70" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="338.4615384615385" y="60" width="29.23076923076923" height="40" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect><rect x="369.2307692307692" y="20" width="29.23076923076923" height="80" transform="matrix(1,0,0,1,0,0)" fill="#6F42C1"></rect></svg></div>
                    </div><!-- d-flex -->
                    </div><!-- cardousel-item -->
                </div><!-- carousel-inner -->
            </div><!-- carousel -->
        </div><!-- card -->
    </div><!-- col-4 -->
    <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
        <div class="card bd-0">
            <div id="carousel2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel2" data-slide-to="1" class=""></li>
                    <li data-target="#carousel2" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                    <div class="bg-br-primary pd-30 ht-300 pos-relative d-flex align-items-center rounded">
                        <div class="pos-absolute t-15 r-25">
                        <a href="" class="tx-white-5 hover-info"><i class="icon ion-edit tx-16"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-stats-bars tx-20"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-gear-a tx-20"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                        </div>
                        <div class="tx-white">
                        <p class="tx-uppercase tx-11 tx-semibold tx-mont tx-spacing-2 tx-white-5">Recent Article</p>
                        <h5 class="lh-5 mg-b-20">20 Best Travel Tips After 5 Years Of Traveling The World</h5>
                        <nav class="nav flex-row tx-13">
                            <a href="" class="tx-white-8 hover-white pd-l-0 pd-r-5">12K+ Views</a>
                            <a href="" class="tx-white-8 hover-white pd-x-5">234 Shares</a>
                            <a href="" class="tx-white-8 hover-white pd-x-5">43 Comments</a>
                        </nav>
                        </div>
                    </div><!-- d-flex -->
                    </div>
                    <div class="carousel-item">
                    <div class="bg-info pd-30 ht-300 pos-relative d-flex align-items-center rounded">
                        <div class="pos-absolute t-15 r-25">
                        <a href="" class="tx-white-5 hover-info"><i class="icon ion-edit tx-16"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-stats-bars tx-20"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-gear-a tx-20"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                        </div>
                        <div class="tx-white">
                        <p class="tx-uppercase tx-11 tx-semibold tx-mont tx-spacing-2 tx-white-5">Recent Article</p>
                        <h5 class="lh-5 mg-b-20">How I Flew Around the World in Business Class for $1,340</h5>
                        <nav class="nav flex-row tx-13">
                            <a href="" class="tx-white-8 hover-white pd-l-0 pd-r-5">Edit</a>
                            <a href="" class="tx-white-8 hover-white pd-x-5">Unpublish</a>
                            <a href="" class="tx-white-8 hover-white pd-x-5">Delete</a>
                        </nav>
                        </div>
                    </div><!-- d-flex -->
                    </div>
                    <div class="carousel-item">
                    <div class="bg-purple pd-30 ht-300 d-flex pos-relative align-items-center rounded">
                        <div class="pos-absolute t-15 r-25">
                        <a href="" class="tx-white-5 hover-info"><i class="icon ion-edit tx-16"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-stats-bars tx-20"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-gear-a tx-20"></i></a>
                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                        </div>
                        <div class="tx-white">
                        <p class="tx-uppercase tx-11 tx-semibold tx-mont tx-spacing-2 tx-white-5">Recent Article</p>
                        <h5 class="lh-5 mg-b-20">10 Reasons Why Travel Makes You a Happier Person</h5>
                        <nav class="nav flex-row tx-13">
                            <a href="" class="tx-white-8 hover-white pd-l-0 pd-r-5">Edit</a>
                            <a href="" class="tx-white-8 hover-white pd-x-5">Unpublish</a>
                            <a href="" class="tx-white-8 hover-white pd-x-5">Delete</a>
                        </nav>
                        </div>
                    </div><!-- d-flex -->
                    </div>
                </div><!-- carousel-inner -->
            </div><!-- carousel -->
        </div><!-- card -->
    </div><!-- col-4 -->
</div>