include date-range

<div class="row no-gutters widget-1">
    include childs/top-youtube
    include childs/top-instagram
    include childs/top-twitter
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-lg-t-0">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Overall</h6>
                <a href=""><i class="icon ion-android-more-horizontal"></i></a>
            </div><!-- card-header -->
            <div class="card-body">
                <span id="spark4">
                    <canvas style="display: inline-block; width: 89px; height: 30px; vertical-align: top;" width="89" height="30"></canvas>
                </span>
                <span>32,324</span>
            </div><!-- card-body -->
            <div class="card-footer">
                <div>
                    <span class="tx-11">Posts</span>
                    <h6 class="tx-inverse">56,433</h6>
                </div>
                <div>
                    <span class="tx-11">Likes</span>
                    <h6 class="tx-inverse">1,654</h6>
                </div>
                <div>
                    <span class="tx-11">Comments</span>
                    <h6 class="tx-danger">15,354</h6>
                </div>
            </div><!-- card-footer -->
        </div><!-- card -->
    </div><!-- col-3 -->
</div>