<div class="br-pagetitle">
    <i class="icon icon ion-ios-photos-outline"></i>
    <div>
        <h4>Dashboard Cards</h4>
        <p class="mg-b-0">Dashboard cards are used in an overview or summary of a project, for crm or form cms.</p>
    </div>
</div>