<div class="d-none d-sm-none d-md-none d-lg-block">
    <ul class="nav nav-effect nav-effect-8 tx-uppercase tx-bold tx-spacing-2 flex-column flex-md-row" role="tablist" style="font-weight: 200;">
        <li class="nav-item">
            <a class="nav-link pd-l-0 pd-md-l-15 active" data-toggle="tab" href="#" role="tab">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pd-l-0 pd-md-l-15" data-toggle="tab" href="#" role="tab">Trending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pd-l-0 pd-md-l-15" data-toggle="tab" href="#" role="tab">Contact Us</a>
        </li>
    </ul>
</div>

<div class="dropdown d-block d-md-none">
    <a href="" class="tx-gray-800 d-inline-block" data-toggle="dropdown">
        <div class="ht-45 pd-x-20 bd d-flex align-items-center justify-content-center">
            <span class="mg-r-10 tx-13 tx-medium">John Doe</span>
            <img src="https://via.placeholder.com/500" class="wd-25 rounded-circle" alt="">
            <i class="fa fa-angle-down mg-l-10"></i>
        </div>
    </a>
    <div class="dropdown-menu pd-10 wd-200">
        <nav class="nav nav-style-1 flex-column">
            <a href="" class="nav-link">
                <i class="icon ion-ios-person"></i>
                | Edit Profile
            </a>
            <a href="" class="nav-link">
                <i class="icon ion-ios-gear"></i>
                | Settings
            </a>
            <a href="" class="nav-link">
                <i class="icon ion-ios-download"></i>
                | Downloads
            </a>
        </nav>
    </div><!-- dropdown-menu -->
</div><!-- dropdown -->
